body, html {
    height: 100%;
    width: 100%;
    font-family: 'Tinos', serif;
    font-size: 16px;   
     
  }

  h1 {
      text-align: center;
      color:#001069;
  }

#image {  
  background-image: linear-gradient(140deg, #030220 0%, #001069 35%, #084696 70%);
  background-position: center- 30px;
  background-repeat: no-repeat;
  background-size: cover;



}  

.container {
    display: grid;
    font-size: 1.3rem;
}

.navbar .container-fluid a {
    color: rgb(228, 225, 225);
    font-family: 'Tinos', serif;
    font-size: 1.15rem;
  }

  .navbar {
    overflow: hidden;
    background-color:#001069;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    border-style: solid;
    border-bottom-color:rgb(228, 225, 225);
  }

  a.button {
    display: block;
    width: 135px;
    padding: 2px 2px;
    border-radius: 5px;
    border: 1.8px solid rgb(207, 205, 205);
    margin: auto;
    background-color: transparent;
    text-align: center;
    color: mintcream;   
    margin: 5px;  
  }

  a:hover {
    background-color: rgb(56, 0, 209);
    color: white;
  }

  .task-add-button {
      text-align: center;
  }

  .card {
      font-weight: 600;
      opacity: 0.87;
      text-align: left;      
  }

  .card-title{
    text-align: center;
}

  .mx-auto {
      display: block;
  }

 footer{
     background-color: #001069;
     color: rgb(228, 225, 225);
     text-align: center;
     border-top-color:rgb(228, 225, 225);
     border-style: solid;
     border-bottom-color:#001069;
     border-left-color:#001069;
     border-right-color:#001069;
 }

 .btn-group {
    cursor: pointer; /* Pointer/hand icon */

  
 }
/* style button on task card*/

 .bottomTaskButtons{
   padding-left: 1fr;
   display: flex;
   justify-content: space-between;
 } 

